<!doctype html>
</html> <lang="fi"></lang>
        <!--Elementit-->
    <head>
        <meta charset="utf-8">
        <!--Attribuutit fontti ja header teksti-->
        <title>Hello World!</title>
        <link href="../css/styles.css" type="text/css"
rel="stylesheet">
    </head>
    <body>
        <div>
            <nav id="head">
            <a href="http://www.kaleva.fi">Kaleva</a>
            <a href="http://www.iltalehti.fi">Iltis</a>
            </nav>
        
            <section>
                <h1=class="about">About</h1>
                <p class="about">Here is some content</p>
        
                
            </section>
            
            <footer data-dummy="">
                
                <p>Copyright by Team OhjKeh</p>
            
            </footer>
        </div>
        
        
        
        <!--paragraph elementti-->
  <!--      <p>Hello earth habitants!</p>-->
  <!--      <div class="mun_keksima">terve</div>-->
   <!--     <div class="fancy mun_keksima">taas</div>-->
   <!--     <p class="fancy">Hei</p>-->
    <!--    <p id="para1">Tadaa Id tyyliä pukkaa</p>-->
        
        <!--input elementillä attribuuttina type-->
  <!--      <input type="color" class"nice"/>-->
  <!--      <input type="text" placeholder="Enter your name"/>-->
        <script src="../lib/jquery-1.11.3.js"></script>
        <script src=../controllers/scripts.js></script>
    </body>
</html>