<!doctype html>
</html> <lang="fi"></lang>
        <!--Elementit-->
    <head>
        <meta charset="utf-8">
        <!--Attribuutit fontti ja header teksti-->
        <title>Hello World!</title>
        <link href="/css/styles.css" type="text/css"
rel="stylesheet">
    </head>
    <body>
        <!--paragraph elementti-->
        <p>Hello earth habitants!</p>
        <div class="mun_keksima">terve</div>
        <div class="fancy">taas</div>
        <p class="fancy">Hei</p>
        <p id="joku_tyyli">Tadaa Id tyyliä pukkaa</p>
        
        <!--input elementillä attribuuttina type-->
        <input type="color" class"nice"/>
        <input type="text" placeholder="Enter your name"/>
        <script src=/controllers/scripts.js></script>
    </body>
</html>